<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Movie Lens Data Set</title>
</head>
<body>
<h1>Movie Lens Data Set</h1>
<h2>{{ user.username }}</h2>
<a href="/">Top 20 Movies</a><br>
<a href="{% url 'ratings:all_movies_page' %}">List of All Movies</a><br>
<a href="{% url 'ratings:rater-hangout' %}">List of All Raters</a><br>
{% if user.id %}
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'user_registration' %}">Sign up</a>
{% endif %}
{% block body %}{% endblock %}









</body>
</html>